<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task.xsd
        ">
	
	<!-- 定义bean方式 -->
	<!-- <bean id="threadPoolTaskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		核心线程数
		<property name="corePoolSize" value="5" />
		最大线程数
		<property name="maxPoolSize" value="10" />
		队列最大长度
		<property name="queueCapacity" value="25" />
	</bean> -->

	<!-- <bean id="threadPoolTaskScheduler"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
		<property name="poolSize" value="5" />
	</bean> -->
	
	<!-- 命名空间方式 -->
	<task:scheduler id="threadPoolTaskScheduler" pool-size="5"/>
	
	<!-- <task:executor id="threadPoolTaskExecutor"
		 pool-size="5-10"
		 queue-capacity="25"
		 rejection-policy="ABORT"/> -->
		 
	<!-- 打开注解驱动 -->
	<task:annotation-driven proxy-target-class="true"/>
	
	<task:scheduled-tasks>
		<task:scheduled ref="taskJobs" method="job1" initial-delay="5000" fixed-rate="5000"/>
		<task:scheduled ref="taskJobs" method="job2" cron="*/10 * * * * ?"/>
	</task:scheduled-tasks>
	
</beans>